#mainBorderPane {
    -fx-pref-height: 660.0;
    -fx-pref-width: 900.0;
}

.printPage{
    -fx-pref-height: 15cm;
    -fx-pref-width:10cm;
    -fx-border-width: 1;
    /*-fx-grid-lines-visible: true;*/
    /*-fx-horizontal-grid-lines-visible: true;*/
}
.title_bg{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.title_sm{
    -fx-font-weight: bold;
}
.title_lg{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}