#mainBorderPane {
    -fx-pref-height: 680.0;
    -fx-pref-width: 900.0;
}

#pane{
    -fx-pref-height: 150mm;
    -fx-pref-width: 100mm;
}

.printPage{
    -fx-pref-height: 150mm;
    -fx-pref-width: 100mm;
    /*-fx-grid-lines-visible: true;*/
    /*-fx-horizontal-grid-lines-visible: true;*/
}
.title_bg{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.title_sm{
    -fx-font-weight: bold;
}
.title_lg{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}