<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyfaith.dao.EmsOrderMapper">
  <resultMap id="BaseResultMap" type="com.skyfaith.domain.EmsOrder">
    <id column="EorderNo" jdbcType="VARCHAR" property="eorderno" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="Sender" jdbcType="VARCHAR" property="sender" />
    <result column="SenderPhone" jdbcType="VARCHAR" property="senderphone" />
    <result column="SenderAddress" jdbcType="VARCHAR" property="senderaddress" />
    <result column="Receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="ReceiverPhone" jdbcType="VARCHAR" property="receiverphone" />
    <result column="ReceiverAddress" jdbcType="VARCHAR" property="receiveraddress" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandname" />
    <result column="Weight" jdbcType="VARCHAR" property="weight" />
    <result column="DeclaredValue" jdbcType="FLOAT" property="declaredvalue" />
    <result column="PosttalCode" jdbcType="VARCHAR" property="posttalcode" />
    <result column="ClearancePort" jdbcType="VARCHAR" property="clearanceport" />
    <result column="SenderLand" jdbcType="VARCHAR" property="senderland" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EorderNo, OrderNo, Sender, SenderPhone, SenderAddress, Receiver, ReceiverPhone, ReceiverAddress, 
    BrandName, Weight, DeclaredValue, PosttalCode, ClearancePort, SenderLand
  </sql>
  <select id="selectByExample" parameterType="com.skyfaith.domain.EmsOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EMSOrder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EMSOrder
    where EorderNo = #{eorderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EMSOrder
    where EorderNo = #{eorderno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.skyfaith.domain.EmsOrderExample">
    delete from EMSOrder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skyfaith.domain.EmsOrder">
    insert into EMSOrder (EorderNo, OrderNo, Sender, 
      SenderPhone, SenderAddress, Receiver, 
      ReceiverPhone, ReceiverAddress, BrandName, 
      Weight, DeclaredValue, PosttalCode, 
      ClearancePort, SenderLand)
    values (#{eorderno,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, 
      #{senderphone,jdbcType=VARCHAR}, #{senderaddress,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{receiverphone,jdbcType=VARCHAR}, #{receiveraddress,jdbcType=VARCHAR}, #{brandname,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{declaredvalue,jdbcType=FLOAT}, #{posttalcode,jdbcType=VARCHAR}, 
      #{clearanceport,jdbcType=VARCHAR}, #{senderland,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skyfaith.domain.EmsOrder">
    insert into EMSOrder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eorderno != null">
        EorderNo,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="sender != null">
        Sender,
      </if>
      <if test="senderphone != null">
        SenderPhone,
      </if>
      <if test="senderaddress != null">
        SenderAddress,
      </if>
      <if test="receiver != null">
        Receiver,
      </if>
      <if test="receiverphone != null">
        ReceiverPhone,
      </if>
      <if test="receiveraddress != null">
        ReceiverAddress,
      </if>
      <if test="brandname != null">
        BrandName,
      </if>
      <if test="weight != null">
        Weight,
      </if>
      <if test="declaredvalue != null">
        DeclaredValue,
      </if>
      <if test="posttalcode != null">
        PosttalCode,
      </if>
      <if test="clearanceport != null">
        ClearancePort,
      </if>
      <if test="senderland != null">
        SenderLand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eorderno != null">
        #{eorderno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="senderphone != null">
        #{senderphone,jdbcType=VARCHAR},
      </if>
      <if test="senderaddress != null">
        #{senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverphone != null">
        #{receiverphone,jdbcType=VARCHAR},
      </if>
      <if test="receiveraddress != null">
        #{receiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="declaredvalue != null">
        #{declaredvalue,jdbcType=FLOAT},
      </if>
      <if test="posttalcode != null">
        #{posttalcode,jdbcType=VARCHAR},
      </if>
      <if test="clearanceport != null">
        #{clearanceport,jdbcType=VARCHAR},
      </if>
      <if test="senderland != null">
        #{senderland,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skyfaith.domain.EmsOrderExample" resultType="java.lang.Long">
    select count(*) from EMSOrder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EMSOrder
    <set>
      <if test="record.eorderno != null">
        EorderNo = #{record.eorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null">
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.sender != null">
        Sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.senderphone != null">
        SenderPhone = #{record.senderphone,jdbcType=VARCHAR},
      </if>
      <if test="record.senderaddress != null">
        SenderAddress = #{record.senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receiver != null">
        Receiver = #{record.receiver,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverphone != null">
        ReceiverPhone = #{record.receiverphone,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveraddress != null">
        ReceiverAddress = #{record.receiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="record.brandname != null">
        BrandName = #{record.brandname,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        Weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.declaredvalue != null">
        DeclaredValue = #{record.declaredvalue,jdbcType=FLOAT},
      </if>
      <if test="record.posttalcode != null">
        PosttalCode = #{record.posttalcode,jdbcType=VARCHAR},
      </if>
      <if test="record.clearanceport != null">
        ClearancePort = #{record.clearanceport,jdbcType=VARCHAR},
      </if>
      <if test="record.senderland != null">
        SenderLand = #{record.senderland,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EMSOrder
    set EorderNo = #{record.eorderno,jdbcType=VARCHAR},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      Sender = #{record.sender,jdbcType=VARCHAR},
      SenderPhone = #{record.senderphone,jdbcType=VARCHAR},
      SenderAddress = #{record.senderaddress,jdbcType=VARCHAR},
      Receiver = #{record.receiver,jdbcType=VARCHAR},
      ReceiverPhone = #{record.receiverphone,jdbcType=VARCHAR},
      ReceiverAddress = #{record.receiveraddress,jdbcType=VARCHAR},
      BrandName = #{record.brandname,jdbcType=VARCHAR},
      Weight = #{record.weight,jdbcType=VARCHAR},
      DeclaredValue = #{record.declaredvalue,jdbcType=FLOAT},
      PosttalCode = #{record.posttalcode,jdbcType=VARCHAR},
      ClearancePort = #{record.clearanceport,jdbcType=VARCHAR},
      SenderLand = #{record.senderland,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skyfaith.domain.EmsOrder">
    update EMSOrder
    <set>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        Sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="senderphone != null">
        SenderPhone = #{senderphone,jdbcType=VARCHAR},
      </if>
      <if test="senderaddress != null">
        SenderAddress = #{senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        Receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverphone != null">
        ReceiverPhone = #{receiverphone,jdbcType=VARCHAR},
      </if>
      <if test="receiveraddress != null">
        ReceiverAddress = #{receiveraddress,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        BrandName = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        Weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="declaredvalue != null">
        DeclaredValue = #{declaredvalue,jdbcType=FLOAT},
      </if>
      <if test="posttalcode != null">
        PosttalCode = #{posttalcode,jdbcType=VARCHAR},
      </if>
      <if test="clearanceport != null">
        ClearancePort = #{clearanceport,jdbcType=VARCHAR},
      </if>
      <if test="senderland != null">
        SenderLand = #{senderland,jdbcType=VARCHAR},
      </if>
    </set>
    where EorderNo = #{eorderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skyfaith.domain.EmsOrder">
    update EMSOrder
    set OrderNo = #{orderno,jdbcType=VARCHAR},
      Sender = #{sender,jdbcType=VARCHAR},
      SenderPhone = #{senderphone,jdbcType=VARCHAR},
      SenderAddress = #{senderaddress,jdbcType=VARCHAR},
      Receiver = #{receiver,jdbcType=VARCHAR},
      ReceiverPhone = #{receiverphone,jdbcType=VARCHAR},
      ReceiverAddress = #{receiveraddress,jdbcType=VARCHAR},
      BrandName = #{brandname,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=VARCHAR},
      DeclaredValue = #{declaredvalue,jdbcType=FLOAT},
      PosttalCode = #{posttalcode,jdbcType=VARCHAR},
      ClearancePort = #{clearanceport,jdbcType=VARCHAR},
      SenderLand = #{senderland,jdbcType=VARCHAR}
    where EorderNo = #{eorderno,jdbcType=VARCHAR}
  </update>
</mapper>